body[ym-site-id="NVR"]:has(#NVR_FLOAT_BOTTOM) .grv-helper-bell-host {
    position: relative;
    z-index: 2147483646;
}

body[ym-site-id="NVR"]:has(.membrana_reward_modal) .article-content {
    overflow: initial !important;
}

html[lang="en"] body[ym-site-id="NVR"] .NVR_VIDEO[data-ym-video-sticky-mode] .ym-float-container__sticky {
    bottom: 10px !important;
}

.nts-video-wrapper:has(.NVR_VIDEO > .NVR_ITA_1_UNIT) .nts-video-label {
    display: none;
}

.nts-video:has(.NVR_ITA_1_UNIT) {
    height: auto;
    min-height: calc(100vw / 16 * 9);
}

@media only screen and (max-width: 586px) {
    body[ym-site-id="NVR"]:has(.membrana_reward_modal) .article-content .article__content__head_img {
        overflow: hidden;
    }
}